@charset "utf-8";
.coverbookdiv {
	float: left;
	height: auto;
	width: 300px;
}

.coverbook {
	border: 2px solid #900;  
  	overflow: hidden;
   
  -webkit-box-shadow: 2px 2px 2px #111;
          box-shadow: 2px 2px 2px #111;  
}

.bookname {
	font-family: Verdana, Geneva, sans-serif;
	color: #900;
	height: auto;
	width: 700px;
	float: left;
}

.review {
	float: left;
	width: 700px;
	font-family: Verdana, Geneva, sans-serif;
	color: #900;
}
h5 {
	font-size:18px;	
	margin:0;
}

p {
	margin-top:0px;	
}